<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <head th:replace="fragments/head :: head"></head>
    <title>Registration Page</title>
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">

        <form autocomplete="off" action="#" th:action="@{/registration}"
              th:object="${user}" method="post" role="form">
            <br/>
            <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                   class="validation-message"></label>
            <input type="text" id="login" class="fadeIn second" th:field="*{username}" placeholder="логин">
            <input type="text" th:field="*{email}" placeholder="email"
                   class="fadeIn second" />
            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                class="validation-message"></label>
            <input type="text" id="password" th:field="*{password}" class="fadeIn third" name="password" placeholder="пароль">
            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                class="validation-message"></label>
            <input type="submit" class="fadeIn fourth" value="Зарегистрироваться">
        </form>

        <div id="formFooter">
            <a class="underlineHover" th:href="@{/}" method="get">Вернуться на главную</a>
        </div>
        <span th:utext="${successMessage}"></span>
        <br/>
    </div>
</div>

</body>
</html>