<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head"></head>

<body id="page-top">

<div th:replace="fragments/admin-header :: admin-header"/>


<div class="container">
    <div class="card shadow mb-4" th:if="${not #lists.isEmpty(listOfCustomer)}">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
               <th> username</th>
                <th>dateTime</th>
                <th>phoneNumber</th>
                <th>email</th>
                <th>comment</th>
                <th>mortgage</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${listOfCustomer}">
                <td th:text="${customer.username}"> username</td>
                <td th:text="${customer.dateTime}">dateTime</td>
                <td th:text="${customer.phoneNumber}">phoneNumber</td>
                <td th:text="${customer.email}">email</td>
                <td th:text="${customer.comment}">comment</td>
                <td th:text="${customer.mortgage}">mortgage</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>