<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>


<div class="container">

    <br/><br/><br/>
    <!--Show this info message only if posted successfully-->
    <!--<div class="alert alert-info" th:if="${successMessage}" th:utext="${successMessage}"></div>-->

    <form method="POST" th:object="${postAttribute}" action="/save-post" enctype="multipart/form-data">
        <div>
            <div class="form-group" id="accountType">

                <label>Тип аккаунта</label>
                <select th:field="*{accountType}" name="accountType" class="custom-select">
                    <option th:each="accountType: ${T(com.realestate.site.models.post.enums.AccountType).values()}"
                            th:value="${accountType}"
                            th:text="${accountType.getValue()}">
                    </option>
                </select>
            </div>
            <div class="form-group" id="dealType">
                <label>Тип сделки</label>

                <select th:field="*{dealType}" name="dealType" class="custom-select">
                    <option th:each="dealType : ${T(com.realestate.site.models.post.enums.DealType).values()}"
                            th:value="${dealType}"
                            th:text="${dealType.getValue()}">
                    </option>
                </select>

            </div>

            <div class="form-group" id="rentType" >
                <label>Тип аренды</label>
                <select th:field="*{rentType}" name="rentType" class="custom-select">
                    <option th:each="rentType : ${T(com.realestate.site.models.post.enums.RentType).values()}"
                            th:value="${rentType}"
                            th:text="${rentType.getValue()}">
                    </option>
                </select>
            </div>


            <div class="form-group" id="realEstateType" >
                <label>Тип помещения</label>
                <select th:field="*{realEstateType}" name="realEstateType" class="custom-select">
                    <option th:each="realEstateType : ${T(com.realestate.site.models.post.enums.RealEstateType).values()}"
                            th:value="${realEstateType}"
                            th:text="${realEstateType.getValue()}">
                    </option>
                </select>
            </div>


            <div class="form-group">
                <label>Жилая</label>
                <select th:field="*{living}" name="living" id="living" class="custom-select">

                    <option th:each="living : ${T(com.realestate.site.models.post.enums.Living).values()}"
                            th:value="${living}"
                            th:text="${living.getValue()}">
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label>Коммерческая</label>
                <select th:field="*{commercial}" name="commercial" id="commercial" class="custom-select">

                    <option th:each="commercial : ${T(com.realestate.site.models.post.enums.Commercial).values()}"
                            th:value="${commercial}"
                            th:text="${commercial.getValue()}">
                    </option>
                </select>
            </div>

            <div class="form-group" id="district">
                <label>Район</label>
                <select th:field="*{district}" name="district" class="custom-select">
                    <option th:each="district : ${T(com.realestate.site.models.post.enums.District).values()}"
                            th:value="${district}"
                            th:text="${district.getValue()}">
                    </option>
                </select>
            </div>

            <div class="form-group" id="address">
                <label>Адрес</label>
                <input th:field="*{address}" type="text" name="address">
            </div>

            <div class="form-group" id="buildingType">
                <label>Тип жилья</label>
                <select th:field="*{buildingType}" name="buildingType" class="custom-select">
                    <option th:each="buildingType : ${T(com.realestate.site.models.post.enums.BuildingType).values()}"
                            th:value="${buildingType}"
                            th:text="${buildingType.getValue()}">
                    </option>
                </select>
            </div>

            <div class="form-group" id="numberOfRooms">
                <label>Количество комнат</label>
                <select th:field="*{numberOfRooms}" name="numberOfRooms" class="custom-select">
                    <option th:each="numberOfRooms : ${T(com.realestate.site.models.post.enums.NumberOfRooms).values()}"
                            th:value="${numberOfRooms}"
                            th:text="${numberOfRooms.getValue()}">
                    </option>
                </select>
            </div>

            <div class="form-group" id="description">
                <label>Описание</label>
                <input th:field="*{description}" type="text" name="description">
            </div>
            <div class="custom-file">
                <input  th:field="*{photo}" type="file"  name="photo" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Выберите фото</label>
            </div>

            <div>
                <label>Цена</label>
                <input th:field="*{price}" type="number" name="price" id="price">
            </div>

            <div class="form-group" id="deposit">
                <label>Депозит</label>
                <input th:field="*{deposit}" type="number" name="deposit">
            </div>

            <div class="form-group" id="communalPayments">
                <label>Коммунальные включены</label>
                <input th:field="*{communalPayments}" type="checkbox" name="communalPayments">
            </div>


            <div class="form-group" id="square">
                <label>Площадь</label>
                <input th:field="*{square}" type="number" name="square">
            </div>

            <div class="form-group">
                <label>Жилая площадь</label>
                <input th:field="*{squareOfLiving}" type="number" name="squareOfLiving" id="squareOfLiving">
            </div>

            <div class="form-group">
                <label>Площадь кухни</label>
                <input th:field="*{squareOfKitchen}" type="number" name="squareOfKitchen" id="squareOfKitchen">
            </div>

            <div class="form-group">
                <label>Этаж</label>
                <input th:field="*{floor}" type="number" name="floor" id="floor">
            </div>

            <div class="form-group">
                <label>Ремонт</label>
                <select th:field="*{repairs}" name="repairs" id="repairs" class="custom-select">
                    <option th:each="repairs : ${T(com.realestate.site.models.post.enums.Repairs).values()}"
                            th:value="${repairs}"
                            th:text="${repairs.getValue()}">
                    </option>
                </select>
            </div>
            <div class="form-row">
                <div class="custom-control custom-checkbox col-4"  id="animal">
                    <input th:field="*{animal}" type="checkbox" name="animal" id="customCheck1" class="custom-control-input" >
                    <label class="custom-control-label" for="customCheck1" >животные </label>
                </div>
                <div class="custom-control custom-checkbox col-4" id="furniture">
                    <input  th:field="*{furniture}" type="checkbox" name="furniture" id="customCheck2"   class="custom-control-input" >
                    <label class="custom-control-label" for="customCheck2" > мебель </label>
                </div>
                <div class="custom-control custom-checkbox col-4" id="balcony">
                    <input  th:field="*{balcony}" type="checkbox" name="balcony" id="customCheck3"  class="custom-control-input" >
                    <label class="custom-control-label" for="customCheck3"> балкон </label>
                </div>
            </div>
            <div class="form-row">
                <div class="custom-control custom-checkbox col-4" id="windowInside">
                    <input  th:field="*{windowInside}" type="checkbox" name="windowInside"  id="customCheck4" class="custom-control-input" >
                    <label class="custom-control-label" for="customCheck4"> окно внутрь </label>
                </div>
                <div class="custom-control custom-checkbox col-4" id="windowOutside">
                    <input th:field="*{windowOutside}" type="checkbox" name="windowOutside" id="customCheck5" class="custom-control-input" >
                    <label class="custom-control-label" for="customCheck5"> окно наружу </label>
                </div>
                <div class="custom-control custom-checkbox col-4" id="loggia">
                    <input  th:field="*{loggia}" type="checkbox" name="loggia" id="customCheck6" class="custom-control-input" >
                    <label class="custom-control-label" for="customCheck6"> лоджия </label>
                </div>
            </div>
            <div class="form-row">
                <div class="custom-control custom-checkbox col-4" id="tv">
                    <input input th:field="*{tv}" type="checkbox" name="tv" id="customCheck7" class="custom-control-input" >
                    <label class="custom-control-label" for="customCheck7"> телевизор </label>
                </div>
                <div class="custom-control custom-checkbox col-4" id="phone">
                    <input th:field="*{phone}" type="checkbox" name="phone" id="customCheck8" class="custom-control-input" >
                    <label class="custom-control-label" for="customCheck8"> телефон </label>
                </div>
                <div class="custom-control custom-checkbox col-4" id="bath">
                    <input  th:field="*{bath}" type="checkbox" name="bath" id="customCheck9" class="custom-control-input" >
                    <label class="custom-control-label" for="customCheck9"> ванна </label>
                </div>
            </div>

            <div class="form-row">
                <div class="custom-control custom-checkbox col-4" id="shower">
                    <input th:field="*{shower}" type="checkbox" name="shower" id="customCheck10" class="custom-control-input" >
                    <label class="custom-control-label" for="customCheck10"> душ </label>
                </div>
                <div class="custom-control custom-checkbox col-4" id="conditioner">
                    <input input th:field="*{conditioner}" type="checkbox" name="conditioner" id="customCheck11" class="custom-control-input" >
                    <label class="custom-control-label" for="customCheck11"> кондиционер </label>
                </div>
                <div class="custom-control custom-checkbox col-4" id="internet">
                    <input  th:field="*{internet}" type="checkbox" name="internet" id="customCheck12" class="custom-control-input" >
                    <label class="custom-control-label" for="customCheck12"> интернет </label>
                </div>
            </div>

            <div class="form-row">
                <div class="custom-control custom-checkbox col-4" id="separateBathroom">
                    <input input th:field="*{separateBathroom}" type="checkbox" name="separateBathroom" id="customCheck13" class="custom-control-input" >
                    <label class="custom-control-label" for="customCheck13">  раздельный санузел </label>
                </div>
                <div class="custom-control custom-checkbox col-4" id="combinedBathroom">
                    <input th:field="*{combinedBathroom}" type="checkbox" name="combinedBathroom" id="customCheck14" class="custom-control-input" >
                    <label class="custom-control-label" for="customCheck14"> совмещенный санузел </label>
                </div>
                <div class="custom-control custom-checkbox col-4" id="lift">
                    <input  input th:field="*{lift}" type="checkbox" name="lift" id="customCheck15" class="custom-control-input" >
                    <label class="custom-control-label" for="customCheck15"> лифт </label>
                </div>
            </div>

            <div class="form-row">
                <div class="custom-control custom-checkbox col-4" id="ramp">
                    <input th:field="*{ramp}" type="checkbox" name="ramp" id="customCheck16" class="custom-control-input" >
                    <label class="custom-control-label" for="customCheck16" > трап </label>
                </div>

            </div>

            <div class="form-group">
                <label>Название комплекса</label>
                <input th:field="*{nameOfComplex}" type="text" name="nameOfComplex" id="nameOfComplex">
            </div>

            <div class="form-group">
                <label>Год постройки</label>
                <input th:field="*{yearOfConstruction}" type="number" name="yearOfConstruction" id="yearOfConstruction">
            </div>
            <div class="form-group">
                <label>Заголовок</label>
                <input th:field="*{title}" type="text" name="title" id="title">
            </div>
            <input type="hidden" th:field="*{user}"/>
            <input type="hidden" th:field="*{id}"/>

        </div>
        <input type="submit" value="Подать объявление"/>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>