<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <!--     Search-->
    <div th:replace="fragments/search :: search"/>

    <!--Posts-->
    <div th:replace="fragments/posts :: posts"/>

    <!--pagination-->
    <div th:replace="fragments/pagination :: pagination(URLparameter='/main')"/>

</div>


<div th:replace="fragments/footer :: footer"></div>

</body>
</html>