<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="table table-bordered"  th:if="${not #lists.isEmpty(listOfApartment)}">
        <table class="table table-bordered  table-hover">
            <thead>
            <tr>
                <th> Hомер квартиры</th>
                <th> Этаж</th>
                <th> Количество комнат</th>
                <th> Площадь</th>
                <th> Цена за метр</th>
                <th> Полная цена</th>
                <th> Статус</th>
                <th> Заявка</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="apartmentlist : ${listOfApartment}">
                <td th:text="${apartmentlist.numberOfApartment}"></td>
                <td th:text="${apartmentlist.floor}"></td>
                <td th:text="${apartmentlist.numberOfRooms}"></td>
                <td th:text="${apartmentlist.square}"></td>
                <td th:text="${apartmentlist.pricePerSquare}"></td>
                <td th:text="${apartmentlist.fullPrice}"></td>
                <td th:text="${apartmentlist.status}"></td>
                <div th:if="${apartmentlist.status} eq ${T(com.realestate.site.models.new_building.Status).AVAILABLE}">
                    <td><a th:href="@{'/apartment/' + ${apartmentlist.id} + '/order'}">Заявка на осмотр</a></td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>



<div th:replace="fragments/footer :: footer"></div>
</body>
</html>