<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/header :: header"></div>
<br/>
<div class="container">

    <div class="card" th:object="${post}">

        <div>
            <img class="card-img-top" alt="Card image"
                 th:src="@{'/post/' + ${post.id} + '/post-image'}"
                 onerror="this.onerror=null; this.src='/../../images/no-image.png'">
        </div>
        <div>
            <div class="card-body">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted">Тип аккаунта</h6>
                                <p th:text="*{accountType.getValue()}">
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted">Тип сделки</h6>
                                <p th:text="*{dealType.getValue()}">
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted">Тип аренды</h6>
                                <p th:text="*{rentType.getValue()}">
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted">Тип помещения</h6>
                                <p th:text="*{realEstateType.getValue()}">
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted">Жилая</h6>
                                <p th:text="*{living.getValue()}">
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted">Коммерческая</h6>
                                <p th:text="*{commercial.getValue()}"/>
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted">Район</h6>
                                <p th:text="*{district.getValue()}"/>
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted">Адрес</h6>
                                <!--                    <p th:text="*{address.getValue()}" >-->
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted">Тип жилья</h6>
                                <p th:text="*{buildingType.getValue()}">
                            </div>
                            <div class="" id="">
                                <h6 class="card-subtitle mb-2 text-muted">Количество комнат</h6>
                                <!--                    <p th:field="*{numberOfRooms.getValue()}" >-->
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted">Площадь</h6>
                                <p th:text="*{square}">
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted">Цена</h6>
                                <p th:text="*{price}">
                            </div>

                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted">Депозит</h6>
                                <p th:text="*{deposit}">
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted">Коммунальные включены</h6>
                                <p th:text="*{communalPayments}">
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted">Этаж</h6>
                                <p th:text="*{floor}">
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted">Ремонт</h6>
                                <p th:text="*{repairs.getValue()}">
                            </div>
                        </div>
                        <div class="col">
                            <div class=" ">
                                <h6 class="card-subtitle mb-2 text-muted"> мебель </h6>
                                <p th:text="*{furniture}" name=""></p>
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted"> балкон </h6>
                                <p th:text="*{balcony}" name=""></p>
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted"> лоджия </h6>
                                <p th:text="*{loggia}" name=""></p>
                            </div>

                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted"> телевизор </h6>
                                <p th:text="*{tv}" name=""></p>
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted"> телефон </h6>
                                <p th:text="*{phone}" name=""></p>
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted"> ванна </h6>
                                <p th:text="*{bath}" name=""></p>
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted"> душ </h6>
                                <p th:text="*{shower}" name=""></p>
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted"> кондиционер </h6>
                                <p input th:text="*{conditioner}" name=""></p>
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted"> интернет </h6>
                                <p th:text="*{internet}" name=""></p>
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted"> раздельный санузел </h6>
                                <p th:text="*{separateBathroom}" name=""
                                ></p>
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted"> совмещенный санузел </h6>
                                <p th:text="*{combinedBathroom}" name=""></p>
                            </div>
                            <div class="">
                                <h6 class="card-subtitle mb-2 text-muted"> лифт </h6>
                                <p th:text="*{lift}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <h6 class="card-subtitle mb-2 text-muted">Описание</h6>
                    <p th:text="*{description}">
                </div>
                <div class="list-group-item">
                    <h6 class="card-subtitle mb-2 text-muted">Пользователь</h6>
                    <p th:text="*{user.id}"></p>
                </div>
                <div class="card-footer text-muted" th:text="*{dateTime}">
                </div>
            </div>
        </div>
    </div>

</div>
<div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>