<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/header :: header"></div>
<br/>
<div class="container">
    <div th:object="${post}" class="card">
        <img class="card-img-top" src="..." alt="Card image cap"
             th:src="@{'/post/' + ${post.id} + '/post-image'}"
             onerror="this.onerror=null; this.src='/../../img/no-image.png'">
        <div class="card-header justify-content-center">
            <p th:text="${post.title}"></p>
        </div>
        <ul class="card-body">
            <li class="list-group-item">

                <label>Тип аккаунта</label>
                <p th:text="*{accountType.getValue()}" name="accountType">

                </p>
            </li>
            <li class="list-group-item" id="">
                <label>Тип сделки</label>

                <p th:text="*{dealType.getValue()}" name="dealType">

                </p>

            </li>

            <li class="list-group-item">
                <label>Тип аренды</label>
                <p th:text="*{rentType.getValue()}" name="rentType">

                </p>
            </li>


            <div class="list-group-item">
                <label>Тип помещения</label>
                <p th:text="*{realEstateType.getValue()}" name="realEstateType">

                </p>
            </div>


<!--            <li class="list-group-item">-->
<!--                <label>Жилая</label>-->
<!--                <p th:text="*{living.getValue()}" name="living">-->

<!--            </li>-->

<!--            <li class="list-group-item">-->
<!--                <label>Коммерческая</label>-->
<!--                <p th:text="*{commercial.getValue()}" name="commercial">-->
<!--                </p>-->
<!--            </li>-->


            <li class="list-group-item">
                <label>Район</label>
                <p th:text="*{district.getValue()}" name="district">

                </p>
            </li>
            <li class="list-group-item">
                <label>Адрес</label>
                <p th:text="*{address}" type="text" name="address">
            </li>

            <li class="list-group-item">
                <label>Тип жилья</label>
                <p th:text="*{buildingType.getValue()}" name="buildingType">

                </p>
            </li>

            <li class="list-group-item" id="numberOfRooms">
                <label>Количество комнат</label>
                <p th:field="*{numberOfRooms.getValue()}" name="numberOfRooms">

                </p>
            </li>


            <li class="list-group-item">
                <label>Описание</label>
                <p th:text="*{description}" type="text" name="description">
            </li>

            <li class="list-group-item">
                <label>Цена</label>
                <p th:text="*{price}" type="number" name="price">
            </li>

            <li class="list-group-item">
                <label>Депозит</label>
                <p th:text="*{deposit}" type="number" name="deposit">
            </li>

            <li class="list-group-item">
                <label>Коммунальные включены</label>
                <p th:text="*{communalPayments}" name="communalPayments">
            </li>


            <li class="list-group-item">
                <label>Площадь</label>
                <p th:text="*{square}" type="number" name="square">
            </li>

            <li class="list-group-item">
                <label>Жилая площадь</label>
                <p th:text="*{squareOfLiving}" type="number" name="squareOfLiving">
            </li>

            <li class="list-group-item">
                <label>Площадь кухни</label>
                <p th:text="*{squareOfKitchen}" type="number" name="squareOfKitchen">
            </li>

            <li class="list-group-item">
                <label>Этаж</label>
                <p th:text="*{floor}" type="number" name="floor">
            </li>

            <li class="list-group-item">
                <label>Ремонт</label>
                <p th:text="*{repairs.getValue()}" name="repairs">

                </p>
            </li>

            <li class="list-group-item">
                <label class="">животные </label>
                <p th:text="*{animal}" name=""></p>

            </li>
            <li class=" list-group-item">
                <label class=""> мебель </label>
                <p th:text="*{furniture}"  name="furniture"></p>

            </li>
            <li class="list-group-item">
                <label class=""> балкон </label>

                <p th:text="*{balcony}" name="balcony" ></p>
            </li>


            <li class="list-group-item ">
                <label class="custom-control-label"> окно внутрь </label>

                <p th:text="*{windowInside}"   ></p>
            </li>
            <li class="list-group-item">
                <label class="custom-control-label"> окно наружу </label>

                <p th:text="*{windowOutside}"
                   ></p>
            </li>
            <li class="list-group-item">
                <label class="custom-control-label"> лоджия </label>

                <p th:text="*{loggia}"name="loggia" ></p>
            </li>


            <li class="list-group-item">
                <label class="custom-control-label"> телевизор </label>

                <p th:text="*{tv}"  name="tv" ></p>
            </li>
            <li class="list-group-item">
                <label class="custom-control-label"> телефон </label>

                <p th:text="*{phone}" name="phone" ></p>
            </li>
            <li class="list-group-item">
                <label class="custom-control-label"> ванна </label>

                <p th:text="*{bath}"  name="bath" ></p>
            </li>


            <li class="list-group-item">
                <label class="custom-control-label"> душ </label>

                <p th:text="*{shower}"  name="shower" ></p>
            </li>
            <li class="list-group-item">
                <label class="custom-control-label"> кондиционер </label>

                <p input th:text="*{conditioner}"  name="conditioner"
                   ></p>
            </li>
            <li class="list-group-item">
                <label class="custom-control-label"> интернет </label>

                <p th:text="*{internet}"  name="internet" ></p>
            </li>


            <li class="list-group-item">
                <label class="custom-control-label"> раздельный санузел </label>

                <p th:text="*{separateBathroom}"  name="separateBathroom"
                   ></p>
            </li>
            <li class="list-group-item">
                <label class="custom-control-label"> совмещенный санузел </label>

                <p th:text="*{combinedBathroom}"  name="combinedBathroom"
                   ></p>
            </li>
            <li class="list-group-item">
                <label class="custom-control-label"> лифт </label>

                <p th:text="*{lift}"  ></p>
            </li>


            <li class="list-group-item">
                <label class="custom-control-label"> трап </label>

                <p th:text="*{ramp}" ></p>
            </li>

            <li class="list-group-item">
                <label>Название комплекса</label>
                <p th:text="*{nameOfComplex}"name="nameOfComplex" id="nameOfComplex"></p>
            </li>
            <li class="list-group-item">
                <label>Год постройки</label>
                <p th:text="*{yearOfConstruction}"  name="yearOfConstruction" id="yearOfConstruction"></p>
            </li>
            <li class="list-group-item">
                <label>Пользователь</label>
                <p th:text="*{user.id}" type="number" name=""></p>
            </li>
            <div class="card-footer text-muted" th:text="*{dateTime}">
            </div>
        </ul>
    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>

</body>
</html>