<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/header :: header"></div>
<br/>
<div class="container">
    <div th:object="${post}" class="card">
        <img class="card-img-top" src="..." alt="Card image cap"
             th:src="@{'/post/' + ${post.id} + '/post-image'}">
        <div class="card-body">
            <div class="card-header">
                <p th:text="${post.title}"></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="${post.description}">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item"><h3 th:text="${post.price}"></h3></li>
                <li class="list-group-item"><h3 th:text="${post.dateTime}"></h3></li>
            </ul>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>

</body>
</html>