<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!-- Footer -->
<head th:replace="fragments/head :: head"></head>
<footer class="page-footer font-small stylish-color-dark pt-4">

    <hr/>
    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <h5 class="font-weight-bold text-uppercase mt-3 mb-4" th:text="${}"></h5>
                <p>
                    <a> Адрес: г. Якутск, ул. Кирова 18, блок В, офис 203 и 303б
                    </a>
                    <a> E-mail: can-ykt@mail.ru</a>
                    <a> Тел: 8 (4112) 219-618
                    </a>

                <p>

                </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Cсылки</h5>

                <ul class="list-unstyled">

                    <a href="https://www.instagram.com/can14ykt/">Instagram</a>

                </ul>

            </div>
            <!-- Grid column -->


        </div>
        <!-- Grid row -->

    </div>




</footer>


</html>