<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Footer -->
<head th:replace="fragments/head :: head"></head>
<footer class="page-footer font-small stylish-color-dark pt-4">

    <hr/>
    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <h5 class="font-weight-bold text-uppercase mt-3 mb-4" th:text="#{contacts}"></h5>
                <p>
                <h6 th:text="#{contact_address}"></h6>
                <h6 th:text="#{contact_email}"></h6>
                <h6 th:text="#{contact_phone}"></h6>
                </p>

            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4" th:text="#{links}"></h5>
                <ul class="list-unstyled">
                    <a href="https://www.instagram.com/can14ykt/">
                        <img th:src="@{/images/instagram.png}" alt="instagram"/></a>
                </ul>
            </div>
        </div>
    </div>
    <hr/>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link disabled" href="#" th:text="#{rigths}"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/main/privacy}" th:text="#{privacy}"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/main/terms}" th:text="#{terms}"></a>
        </li>
    </ul>


</footer>


</html>