<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:fragment="links">

    <br/>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/main/all-rent'}">Аренда</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/main/all-sell'}">Продажа</a>
        </li>
    </ul>
    <br/>
    <blockquote class="blockquote text-center">
        <p class="mb-0" th:text="#{posts}"></p>
    </blockquote>
    <br/>

</div>
</body>
</html>