<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:fragment="search">

        <div class="card bg-white text-black-50">
            <img class="card-img" src="/../../images/image-header.png" alt="image"/>
            <div class="card-img-overlay" id="search">
                <form th:object="${post}" method="POST" action="/search" class="align-content-center" enctype="multipart/form-data">
                    <div class="input-group align-content-center">
                        <select name="dealType" class="custom-select  ">

                            <option th:each="dealType : ${T(com.realestate.site.models.post.enums.DealType).values()}"
                                    th:value="${dealType}"
                                    th:text="${dealType.getValue()}">
                            </option>
                        </select>
                        <select name="commercial" class="custom-select " id="commercialSearch" onchange="commercialSelected(this)">
                            <option th:value="null">Коммерческое предложение</option>
                            <option th:each="commercial : ${T(com.realestate.site.models.post.enums.Commercial).values()}"
                                    th:value="${commercial}"
                                    th:text="${commercial.getValue()}">
                            </option>
                        </select>
                        <select name="living" class="custom-select " onchange="{apartmentSelectHandler(this), livingSelected(this)}" id="livingSearch">
                            <option th:value="null">Жилая недвижимость</option>
                            <option th:each="living : ${T(com.realestate.site.models.post.enums.Living).values()}"
                                    th:value="${living}"
                                    th:text="${living.getValue()}">
                            </option>
                        </select>
                        <select name="numberOfRooms" class="custom-select" id="numberOfRoomsSearch">
                            <option th:value="null">Количество комнат</option>
                            <option th:each="numberOfRooms : ${T(com.realestate.site.models.post.enums.NumberOfRooms).values()}"
                                    th:value="${numberOfRooms}"
                                    th:text="${numberOfRooms.getValue()}">
                            </option>
                        </select>
                        <select name="accountType" class="custom-select">
                            <option th:each="accountType: ${T(com.realestate.site.models.post.enums.AccountType).values()}"
                                    th:value="${accountType}"
                                    th:text="${accountType.getValue()}">
                            </option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-info" type="submit">Поиск</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
</div>
</body>
</html>